/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: white;
  color: black;
}

.toggle-theme-btn {
  display: none;
}

.presentation {
  background-color: white;
  color: black;
}

.slide {
  background-color: white;
  color: black;
}

.prose ul li {
  color: black;
}

.container {
  display: flex;
  justify-content: center;
}